    /********* GLOBAL *********/

    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        font-size: var(--size);
        line-height: 2rem;
        letter-spacing: 0.1rem;
        color: black;
        font-family: 'Karla', sans-serif;
        --main-grey-color: #31302D;
        --main-green-color: #79AC16;
        --size : 12px;

    }

    a {
        text-decoration: none;
    }

    main {
        width: 100%;
    }

    section {
        width: 80%;
        margin: 0 auto;
    }

    h1,
    .title-presentation,
    .connect h2 {
        text-align: center;
        text-transform: uppercase;
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: var(--main-green-color);
        font-size: 2.1rem;
        font-family: 'Josefin Sans', sans-serif;;
        font-weight: 300;
    }

    /********* HEADER *********/

    /* MENU TOP */

    .menu-top {
        display: flex;
        justify-content: flex-end;
    }

    .menu-top a {
        display: block;
        justify-content: space-between;
        padding: 2px 10px;
        color: white;
        text-transform: uppercase;
        font-size: 0.6rem;
        margin: 0 10px;
        transition: all 0.5s ease;
        background-color: #31302D;
        border-radius: 0 0 5px 5px;
    }

    .menu-top a:hover {
        color:  var(--main-green-color);
        font-size: 0.7rem;
    }


    /* LOGO */

    header {
        width: 100%;
        text-align: center;
    }

    .logo {
        margin: 3rem;
    }

    .logo-display {
        display: none;
    }

    /* SLIDER */

    #slider {
        width: 100%;
        display: flex;
    }


    .banner-display {
        display: none;
    }

    .banner_text {
        background-color: #31302D;
        color: white;
        height: 250px;
        width: 20%;
        border-left: 2px solid var(--main-green-color);
        align-self: center;
        text-align: left;
        padding: 20px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 31px;
        line-height: 2.3rem;
        letter-spacing: normal;
        box-shadow: 1px 3px 15px 6px #00000038;
        margin-left: 1rem;
        margin-right: 3rem;
    }

    hr {
        width: 60%;
    }

    .banner_text--title {
        font-size: 46px;
    }

    .banner_text--date {
        color: var(--main-green-color);
    }

    .banner_img {
        width: 80%;
    }

    .banner_img img {
        width: 100%;
    }
    .banner_text p {
        margin-top: 1rem;
    }

    /********* MENU *********/

    .main-menu--display {
        display: none;
    }

    .menu {
        display: flex;
        width: 80%;
        margin: 0 auto;
        border-top: solid 1px #F5F5F5;

    }

    .menu a, .menu-dropdown {
        text-transform: uppercase;
        flex-basis: 25%;
        text-align: center;
        font-size: 1.2rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        transition: all 0.5s ease;
    }

    .menu a:hover,
    .menu-dropdown:hover {
        background-color: #31302D;
        color: white;
    }

    .dropdown-input {
        display: none;
    }

    .dropdown-menu {
        display: none;
        width: 20%;

    }

    .dropdown-input:checked + .dropdown-menu{
        display: flex;
        position: absolute;
        flex-direction: column;
        flex-basis: 100%;
        background-color: white;
    }

    .dropdown-menu a {
        text-transform: capitalize;
    }

    /********* PROGRAM HOME *********/

    .programmation--display {
        display: none;
    }



    .programmation {
        display: flex;
        justify-content: space-between;
    }

    .program {
        display: block;
        width: 25%;
    }

    .fiche {
        border: solid 1px #f5f5f5;
        box-shadow: -1px 1px 6px 1px #3535350d;
        margin: 1rem;
        padding: 1rem;
    }

    .fiche hr{
        width: 80%;
        margin: 0 auto;
    }

    .infos-movie {
        display: block;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    h2, h3, h4{
        font-size: 0.7rem;
        margin-right: 0.5rem;
    }

    .day {
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 1rem;
        margin: 1rem;
        background-color: #31302D;
        color: white;
    }

    .hour:before {
        content: ' Projection à ';
        font-size: 1rem;
    }

    h2.hour {
        font-size: 1rem;
        text-align: center;
    }

    h3, h4 {
        padding: 0.03rem 0.5rem;
        text-transform: uppercase;
        width: 100%;
        text-align: left;
    }

    h3 {
    }

    h4 {
    }

    .resume-movie {
        display: block;
        text-align: center;
    }

    .resume-movie img {
        width: 50%;
        margin: 0 auto;
        margin-right: 1rem;
        margin-top: 1rem;

    }

    .resume-movie span{
        font-size: 1rem;
        text-transform: uppercase;
    }

    .resume-movie p {
        font-size: 0.8rem;
        letter-spacing: normal;
        display: inline-block;
        align-items: flex-end;
    }

    .button {
        border: 1px solid #31302D;
        width: 100%;
        background: none;
        padding: 0.8rem 1rem;
        -webkit-border-radius: 5rem;
        -moz-border-radius: 5rem;
        border-radius: 5rem;
        color: #31302D;
        font-size: 0.8rem;
        text-decoration: none;
        vertical-align: middle;
        transition: all 0.5s ease;
        text-transform: uppercase;
    }
    .button:hover {
        background: #31302D;
        border: 1px solid #31302D;
        color: white;
    }
    .button::after {
        content: "Réserver";
    }

    .button:hover::after {
        content: "Je réserve !";
        font-size: 0.9rem;
    }

    .button:active {
        background: var(--main-green-color);
    }
    .button:active::after {
        background: var(--main-green-color);
    }

    .more {
        color: var(--main-green-color);
    }

    /* avantages */

    .avantages {
        display: flex;
        width: 80%;
        margin: 0 auto;
        align-self: center;
        height: 25rem;
    }

    .avantages_bloc {
        flex-basis: 33%;
        border: solid 1px #f5f5f5;
        box-shadow: -1px 1px 6px 1px #3535350d;
        margin: 5rem;
        text-align: center;
        height: 15rem;
        font-size: 2rem;
        line-height: normal;
        transition: all 0.5s ease;
    }

    .avantages_bloc:hover {
        background-color: #31302D;
        color: white;
    }

    .avantages_bloc p {
        padding: 3rem;
        text-transform: uppercase;
    }

    /* Présentation festival */

    .festival {
        width: 100%;
        margin-top: 5rem;
    }


    .presentation {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }

    .presentation p {
        width: 50%;
        padding: 10px;
        text-align: justify;
        font-size: 1.2rem;
        margin-bottom: 5rem;

    }

    .presentation img {
        width: 100%;
    }

    /* FOOTER */

    footer {
        background-color: #79AC16;
        color: white;
        text-align: center;
    }

    footer a {
        color: white;
    }

    footer a:hover {
        color: #31302D;
    }


    /*****************************************************Page de reservation */

    .reservation {
        margin: 0 auto;
        width: 80%;
        display: flex;
        padding: 5rem 0;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        background-color: #f5f5f5;
        padding: 1rem;
    }

    input[type=submit] {
        padding: 0.5rem;
        width: 50%;
        margin: 0 auto;
        margin-top: 3rem;
        background-color: #31302D;
        border: none;
        color: white;
        text-transform: uppercase;
        transition: all 0.5s ease;
    }

    input[type=submit]:hover {
        background-color: #79AC16;
    }

    input {
        border-radius: 1rem;
        padding: 0.5rem;
        border-color: #31302D;
        border-style: solid;
        font-family: "Josefin Sans",sans-serif;
    }

    .reservation label {
        text-transform: uppercase;
    }

    input:focus {
        border: none;
    }

    input[type=textarea] {
        height: 5rem;
    }

    .confirmation {
        display: block;
        margin-top: 5rem;
        margin-bottom: 5rem;
        text-align: center;
    }

    .infos-pratiques {
        margin: 0 auto;
        width: 80%;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
    }

    .infos-pratiques h2 {
        text-align: center;
    }

    .infos-pratiques p {
        text-align: center;
    }

    .infos-pratiques a {
        color: #79AC16;
        transition: all 0.5s ease;
    }

    .infos-pratiques a:hover {
        color: white;
        background-color: #79AC16;
        padding: 0.5rem 1rem;
        border-radius: 5rem;
        text-decoration: underline;
    }

    .img-cinema {
        width: auto;
    }

    .img-cinema img{
        width: auto;
        padding: 2rem;
    }

    .connect {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
    }

    .content {
        width: 100%;
    }

    .connect form, .connect hr {
        margin: 0 auto;
        margin-bottom: 2rem;

    }

    .green {
        background-color: #79AC16;
    }

    .green h1,
    .green label {
        color: white;
    }

    form label, .connect p {
        text-align: center;
    }

    .intro {
        text-align: center;
        margin: 2rem;
    }

    .grey label {
        color: #31302D;
    }

