/********* GLOBAL *********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Karla;
    --main-grey-color: #31302D;
    --main-green-color: #79AC16;}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    font-size: var(--size);
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: black;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
}

section {
    width: 80%;
    margin: 0 auto;
}

h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--main-green-color);
    font-size: 2.1rem;
    font-family: "Josefin Sans";
    font-weight: 300;
}

/********* HEADER *********/

/* MENU TOP */

.menu-top {
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-grey-color);
}

.menu-top a {
    display: block;
    justify-content: space-between;
    width: 20%;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: solid 1px white;
    margin: 1rem;
    border-radius: 5rem;
    transition: all 0.5s ease;
}

.menu-top a:hover {
    color:  var(--main-green-color);
    border-color: var(--main-green-color);
    background-color: white;
    font-size: 0.6rem;
}

/* LOGO */

header {
    width: 100%;
    text-align: center;
}

/* SLIDER */

#slider {
    width: 100%;
}

#slider img{
    width: 100%;
    margin: 0;
}

/********* MENU *********/


.menu {
    display: inline-flex;
    width: 100%;
    border-top: solid 1px #31302D;
}

#menu-content {
    display: flex;
    width: 100%;
}
nav.main-menu {
    width: 80%;
    margin: 0 auto;
}

nav.main-menu > ul {
    display: inline-flex;
    width: 100%;
}

nav.main-menu ul li {
    list-style-type: none;
    width: 25%;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease;
    padding: 10px 0 10px 0;
}

nav.main-menu ul li:hover {
    background-color: #31302D;
}

nav.main-menu ul li:hover a{
    color: white;
}

.sub {
    display: none!important;
    z-index: 1;
    position: absolute;
    background-color: white;
    transition: all 0.5s ease;
}

.sub ul li {
    width: 100%;
}

.sub a {
    color: orange!important;
}

.sub a:hover {
    color: white!important;
}

.up:hover > ul {
    display: block!important;
    width: 20%;
}

.sub li {
    width: 100% !important;
}

.sub a {
    text-transform: capitalize;

}

label.menu-hamburger {
    display: none;
}

label.progmore {
    display: none;
}

input[type="checkbox"]{
    display: none;
}



    /********* PROGRAM HOME *********/

    .programmation {
        display: flex;
        justify-content: space-between;
    }

    .program {
        display: block;
        width: 25%;
    }

    .fiche {
        background-color: #FBF9F4;
        margin: 1rem;
        padding: 1rem;
    }

    .infos-movie {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    h2, h3, h4{
        font-size: 0.7rem;
        margin-right: 0.5rem;
    }

    .day {
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        background-color: var(--main-grey-color);
        padding: 1rem;
        margin: 1rem;
        color: white;
    }

    .hour:before {
        content: ' Projection à ';
        font-size: 1rem;
    }

    h2.hour {
        font-size: 1rem;
    }

    h3, h4 {
        color: white;
        padding: 0.03rem 0.5rem;
        text-transform: uppercase;
        width: 50%;
        text-align: center;
    }

    h3 {
        background-color: var(--main-grey-color);
    }

    h4 {
        background-color: var(--main-green-color);
    }

    .resume-movie {
        display: flex;
        text-align: left;
    }

    .resume-movie img {
        width: 45%;
        margin-right: 1rem;

    }

    .resume-movie span{
        font-size: 1rem;
        text-transform: uppercase;
    }

    .resume-movie p {
        font-size: 0.8rem;
        letter-spacing: normal;
        display: inline-block;
        align-items: flex-end;
    }

    .button {
        border: 0px solid #004B84;
        width: 100%;
        background: var(--main-grey-color);
        padding: 0.8rem 1rem;
        -webkit-border-radius: 5rem;
        -moz-border-radius: 5rem;
        border-radius: 5rem;
        color: #ffffff;
        font-size: 0.8rem;
        text-decoration: none;
        vertical-align: middle;
        transition: all 0.5s ease;
        text-transform: uppercase;
    }
    .button:hover {
        background: orange;
    }
    .button::after {
        content: "Réserver";
    }

    .button:hover::after {
        content: "Je réserve !";
        font-size: 0.9rem;
    }

    .button:active {
        background: var(--main-green-color);
    }
    .button:active::after {
        background: var(--main-green-color);
    }

    .more {
        color: var(--main-green-color);
    }


    /******************************************** RESPONSIVE **********************************************************************************/

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
    {
        /* NAV */

        .menu {
            width: 100%;
        }

        .menu-content {
            width: 100%;
        }

        label.menu-hamburger {
            display: block!important;
            width: 100%;
        }

        nav.main-menu {
            width: 100%;

        }

        nav.main-menu > ul {
            display: block;
            width: 100%;
        }

       .menu-hamburger {
           background-color: #31302D;
           color: white;
           text-transform: uppercase;
           text-align: right;
           padding-right: 1rem;
       }

       #menu-content {
           display: none;
           height: 100%;
       }

        #menu-hamburger:checked ~ #menu-content {
            display: block!important;
            position: absolute;
            background-color: white;
            justify-content: left;
        }

        .menu {
            display: block!important;
        }

        #menu-content ul li{
            width: 100%;
        }

        nav.main-menu ul li {
            width: 100%;
            text-align: right;
            padding-right: 1rem;
        }

        #sub {
            display: none;
        }

        label.progmore {
            display: contents;
        }

        #progmore:checked ~ #sub {
            display: block!important;
            background-color: white;
            justify-content: left;
        }

        .up:hover > ul {
            width: 100%;
            position: relative;
        }

        /**** Menu top ****/



        .menu-top a {
            width: 100%;
        }

        .day {
            font-size: 1rem!important;
            padding: 0.2rem;
            margin: 0.2rem;

        }
        .fiche {
            padding: 0.2rem;
            margin: 0.2rem;
        }

        .hour, .hour:before {
            font-size: 1rem!important;
            text-align: center!important;
        }
        .infos-movie, .resume-movie {
            display: block!important;
            width: 100%!important;
        }

        .resume-movie img {
            width: 100% !important;
        }

        h3, h4 {
            width: 100%;
            margin-top: 0.5rem;
        }



    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 767px)
    {
        /* NAV */

        .menu {
            width: 100%;
        }

        .menu-content {
            width: 100%;
        }

        label.menu-hamburger {
            display: block!important;
            width: 100%;
        }

        nav.main-menu {
            width: 100%;

        }

        nav.main-menu > ul {
            display: block;
            width: 100%;
        }

        .menu-hamburger {
            background-color: #31302D;
            color: white;
            text-transform: uppercase;
            text-align: right;
            padding-right: 1rem;
        }

        #menu-content {
            display: none;
            height: 100%;
        }

        #menu-hamburger:checked ~ #menu-content {
            display: block!important;
            position: absolute;
            background-color: white;
            justify-content: left;
        }

        .menu {
            display: block!important;
        }

        #menu-content ul li{
            width: 100%;
        }

        nav.main-menu ul li {
            width: 100%;
            text-align: right;
            padding-right: 1rem;
        }

        #sub {
            display: none;
        }

        label.progmore {
            display: contents;
        }

        #progmore:checked ~ #sub {
            display: block!important;
            background-color: white;
            justify-content: left;
        }

        .up:hover > ul {
            width: 100%;
            position: relative;
        }

        /**** Menu top ****/

        .menu-top {
            display: block!important;
            padding: 1rem;
        }


        .menu-top a {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 0.2rem;
        }

        .day {
            font-size: 1rem!important;
            padding: 0.2rem;
            margin: 0.2rem;

        }
        .fiche {
            padding: 0.2rem;
            margin: 0.2rem;
        }

        .hour, .hour:before {
            font-size: 1rem!important;
            text-align: center!important;
        }
        .infos-movie, .resume-movie {
            display: block!important;
            width: 100%!important;
        }

        .resume-movie img {
            width: 100% !important;
        }

        h3, h4 {
            width: 100%;
            margin-top: 0.5rem;
        }



    }

    @media only screen and (min-device-width : 1025px) and (max-device-width : 1400px){

        .menu-top a {
            width: 50%;
        }

        .day {
            font-size: 1rem!important;
            padding: 0.2rem;
            margin: 0.2rem;

        }
        .fiche {
            padding: 0.2rem;
            margin: 0.2rem;
        }

        .hour, .hour:before {
            font-size: 1rem!important;
            text-align: center!important;
        }
        .infos-movie, .resume-movie {
            display: block!important;
            width: 100%!important;
        }

        .resume-movie img {
            width: 100% !important;
        }

        h3, h4 {
            width: 100%;
            margin-top: 0.5rem;
        }
    }